@import url("https://fonts.cdnfonts.com/css/arsenica-trial");
@import url("https://fonts.cdnfonts.com/css/tt-commons");

.Section1 {
  text-align: center;
  padding: 1%;
}

.Title {
  font-size: 5vw; /* Responsive font size based on viewport width */
  font-family: "Arsenica Trial";
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
  font-weight: 100;
  animation: fadeIn 1s ease-in-out;
  margin-bottom: 0;
}

.ImageContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.Title:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.03);
}

.Image {
  width: 90%; /* Responsive image width */
  max-width: 550px; /* Limit maximum width of the image */
  height: auto; /* Maintain aspect ratio */
  animation: fadeIn 1.4s ease-in-out;
} 

h2, h3 {
  font-family: "TT Commons";
  animation: fadeIn 1.4s ease-in-out;
}

h2 {
  font-size: 4vw; /* Responsive font size based on viewport width */
  margin: 0;
}

h3 {
  font-size: 3vw; /* Responsive font size based on viewport width */
  margin: 10px;
}

@media (max-width: 768px) {
  .Title {
    font-size: 8vw; /* Adjust font size for smaller screens */
    margin-top: 20%;
  }

  .Image {
    width: 90%;
  }

  h2 {
    font-size: 6vw; /* Adjust font size for smaller screens */
  }

  h3 {
    font-size: 4vw; /* Adjust font size for smaller screens */
  }
}
